* {
  text-decoration: none;
}

.CardMain {
  display: none;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 16px;
  background-color: #f1f2f4d2;
  padding: 16px 0;
}
.border {
  background-color: rgb(238, 84, 110);
  border-radius:10px;
}
.CategoriesCard {
  padding: 16px;
  /* background-color: rgb(255, 255, 255); */
}
 
.CategoriesCardHeading {
  display: flex;
  justify-content: space-between;
  padding: 0 10px 10px 0;
  background-color: white;
  align-items: center;
}

.CategoriesCardHeading h1 {
 
  font-size: 22px;
  font-family: SemiBold;
  color: black;
  line-height: 30px;
  
  margin-left:5px;
  background-color: white;
}

.arrow {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: center;
  background-color: #ffffff;
  border-radius: 50%;
  border:1px solid grey
}


.arrow img {
  width:16px;
  height:16px;
  margin-bottom: 1px;
 
}

.Categories {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  background-color: white;
  padding: 5px;
}

.Product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 12px;
  border: 1px solid rgb(235, 235, 235);
  background-color: white;
  border-radius: 4px;
  margin-top: 5px;
}

.Product img {
  width: 100%;
  padding: 8px 8px 0;
  background-color: white;
}

.Product div {
  margin-top: 16px;
  background-color: white;
}

.hero {
  background-color: white;
}

.Product div h2 {
  font-size: 17px;
  font-family: Regular;
  font-weight: 400;
  color: black;
  line-height: 24px;
  letter-spacing: -0.01px;
  background-color: white;
}

.Product div h3 {
  font-size: 17px;
  font-family: SemiBold;
  font-weight: 400;
  color: #108934;
  line-height: 24px;
  letter-spacing: -0.01px;
}

@media screen and (min-width: 1190px) {
  .CardMain {
    display: grid;
  }
}

@media screen and (min-width: 1500px) {
  .CardMain {
    max-width: 1600px;
    margin: 0 auto;
  }
}
